<!-- /**
 * button variations:
 * sizes{
 *  default: h-56
 *  md: h-48
 *  sm: h-38
 *  icon: h-55
 * }
 *
 * variant: {
 *  default: with icon
 *  outline
 *  secondary: gray bg with hover animation
 *  link: underline animation
 * }
 */
 -->

<button
    className="group gap-1 overflow-hidden rounded-full px-8 py-4 font-medium capitalize duration-400 hover:-translate-y-0.5 hover:transition-all relative bg-primary-red focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/40 aria-invalid:border-destructive flex cursor-pointer shrink-0 items-center justify-center text-sm font-rubik whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4"
>
    <Lightbulb
        className="absolute -left-1/4 z-[9] transition-all duration-400 group-hover:left-4"
    />

    <span
        className="relative z-[1] -translate-x-3 transition-all duration-400 group-hover:translate-x-3"
    >
        {children}
    </span>

    <span
        className="absolute top-1/2 left-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 rounded-full opacity-0 transition-all duration-400 group-hover:h-[220px] group-hover:w-[220px] group-hover:opacity-100"
    ></span>

    <Lightbulb
        className="absolute right-4 z-[9] w-6 transition-all duration-400 group-hover:-right-1/4"
    />
</button>
