@import "tailwindcss";

:root {
    --background: #060606;
    --foreground: #ffffff;
    --primary-red: #ff014f;
    --rubik: "Rubik", sans-serif;
    --rajdhani: "Rajdhani", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-red: var(--primary-red);
    --font-rubik: var(--rubik);
}

body {
    background: var(--background);
    color: var(--foreground);
}
